.lists-page-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lists-page-title {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.lists-page-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
