.lists-page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lists-page-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.lists-page-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
